<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrew.neighborlabour">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".ParseProject"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB151f1l-Rr5H3jWNYTTWlIFklHbDpGchg"/>

        <activity
            android:name=".UI.auth.LoginActivity"
            android:label="login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.MainActivity">
        </activity>
        <activity
            android:name=".UI.active.applicants.SelectWorkerDialog"
            android:theme="@style/dialog">
        </activity>
        <activity
            android:name=".UI.active.Review.ReviewDialog"
            android:theme="@style/dialog">
        </activity>
        <activity
            android:name=".UI.listings.ListingDetailActivity"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".UI.auth.RegisterActivity">
        </activity>
        <activity
            android:name=".UI.auth.EditProfileActivity">
        </activity>

    </application>

</manifest>